[SolarEdge]
; use your site_id and api_key for your system
api_key = abcde
site_id = 123

[PVSettings]
; determine scales to use for how much your system will produce. maxpower is the most kilowatts your system will procude at a time. maxenergy is the max kilowatt hours your system produces in a day.
maxpower = 8
maxenergy = 40

[DisplaySettings]
; refresh is in seconds
refreshrate = 120
powercols = 6
energycols = 3
dimbat = .3
rotation = 90
brightness = .6

[Colors]
; color values are [red][green][blue], all 0-255.
pvpower = [0,255,0]
loadpower = [255,0,0]
prodenergy = [0,250,125]
consumeenergy = [200,0,175]
batterylevel = [0,0,255]

